.site-header__navItem {
  display: flex;
  flex-direction: row;
}

@media (min-width: 481px) {
  .site-header__navItem {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 701px) {
  .site-header__navItem,
  .site-header,
  .site-header__checkout {
    display: inline-block;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 993px) {
  .site-header__checkout {
    margin-left: auto;
    display: inherit;
  }
}
